@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);
:root {
    --font-family: "Open Sans", sans-serif;
    --content-width: 1170px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --light-color: #fff
}

#menu li,
.card-item__text p,
.footer-inner__link a,
.footer-inner__mail a,
.footer-nav__item a,
.recent-list__item--left p,
.slider-item__text p,
body {
    font-family: Roboto, sans-serif;
    font-weight: 400
}

.banner-list__item h3,
.card-item__text h3,
.download-inner h3,
.footer-nav__item h3,
.global-btn,
.header-content h1,
.header-content span,
.header-top__btn button,
.recent-list__item--left h3,
.recent-list__item--left strong,
.slider-item__text h3 {
    font-family: Roboto, sans-serif;
    font-weight: 500
}

.custom-checkbox__field:checked+.custom-checkbox__content::after {
    opacity: 1
}

.custom-checkbox__field:focus+.custom-checkbox__content::before {
    outline: red solid 2px;
    outline-offset: 2px
}

.custom-checkbox__field:disabled+.custom-checkbox__content {
    opacity: .4;
    pointer-events: none
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    height: 100%;
    font-size: 14px;
    line-height: 16px;
    background: #1c1c1c;
    color: #fff
}

h3,
p,
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

*,
::after,
::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

.page {
    height: 100%;
    font-family: var(--font-family, sans-serif);
    -webkit-text-size-adjust: 100%
}

img {
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

a {
    text-decoration: none
}

.site-container {
    overflow: hidden
}

.is-hidden {
    display: none!important
}

.btn-reset {
    border: none;
    padding: 0;
    background: 0 0;
    cursor: pointer
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0
}

.input-reset {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    background-color: #fff
}

.input-reset::-webkit-search-cancel-button,
.input-reset::-webkit-search-decoration,
.input-reset::-webkit-search-results-button,
.input-reset::-webkit-search-results-decoration {
    display: none
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0)
}

.container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width)
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: 0
}

.centered {
    text-align: center
}

.dis-scroll {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    -ms-scroll-chaining: none;
    overscroll-behavior: none
}

.page--ios .dis-scroll {
    position: relative
}

.global-btn {
    background-color: #f6762c;
    border: none;
    color: #fff;
    padding: 15px 37px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.global-btn:hover {
    background-color: #fb5c00;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.global-strong {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: .1em;
    color: #f6762c
}

.global-span {
    font-size: 16px;
    text-decoration: line-through;
    opacity: .5;
    line-height: .1em
}

.header {
    background-image: url(img/header-bg.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center center;
    background-size: cover
}

.header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.header-top__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.header-top__nav li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.header-top__nav li+li {
    margin-left: 28px
}

.header-top__nav a {
    color: #fff;
    opacity: .7;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.header-top__nav a:hover {
    color: #fb5c00;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.header-top__btn button {
    background-color: #f6762c;
    border: none;
    color: #fff;
    padding: 15px 37px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.header-top__btn button:hover {
    background-color: #fb5c00;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.header-content {
    width: 555px;
    margin-top: 186px
}

.header-content span {
    letter-spacing: .1;
    color: #fff
}

.header-content h1 {
    margin: 7px 0 37px;
    font-size: 57px;
    line-height: 67px
}

.header-content p {
    font-size: 18px;
    line-height: 21px;
    opacity: .7;
    margin-bottom: 42px
}

#menuToggle {
    display: none;
    position: relative;
    top: 3px;
    left: 0;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s
}

#menuToggle a:hover {
    color: #f6762c
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #f6762c;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0;
    -ms-transform-origin: 4px 0;
    transform-origin: 4px 0;
    -webkit-transition: background .5s cubic-bezier(.77, .2, .05, 1), opacity .55s, -webkit-transform .5s cubic-bezier(.77, .2, .05, 1);
    transition: transform .5s cubic-bezier(.77, .2, .05, 1), background .5s cubic-bezier(.77, .2, .05, 1), opacity .55s, -webkit-transform .5s cubic-bezier(.77, .2, .05, 1);
    -o-transition: transform .5s cubic-bezier(.77, .2, .05, 1), background .5s cubic-bezier(.77, .2, .05, 1), opacity .55s
}

#menuToggle span:first-child {
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0
}

#menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%
}

#menuToggle input:checked~span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
    -ms-transform: rotate(45deg) translate(-2px, -1px);
    transform: rotate(45deg) translate(-2px, -1px);
    background: #f6762c
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0) scale(.2, .2);
    -ms-transform: rotate(0) scale(.2, .2);
    transform: rotate(0) scale(.2, .2)
}

#menuToggle input:checked~span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
    -ms-transform: rotate(-45deg) translate(0, -1px);
    transform: rotate(-45deg) translate(0, -1px)
}

#menu {
    position: absolute;
    width: 320px;
    margin: -100px 0 0 -50px;
    padding: 125px 50px 50px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform .5s cubic-bezier(.77, .2, .05, 1);
    transition: transform .5s cubic-bezier(.77, .2, .05, 1);
    -o-transition: transform .5s cubic-bezier(.77, .2, .05, 1);
    transition: transform .5s cubic-bezier(.77, .2, .05, 1), -webkit-transform .5s cubic-bezier(.77, .2, .05, 1);
    right: -15px
}

#menu li {
    padding: 10px 0;
    font-size: 20px;
    line-height: 27px;
    text-align: center
}

#menuToggle input:checked~ul {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}

@media (max-width:600px) {
    .header-content {
        display: block;
        width: 400px;
        margin-top: 135px
    }
    .header-content span {
        font-size: 10px;
        line-height: 13px
    }
    .header-content h1 {
        margin-bottom: 25px;
        font-size: 40px;
        line-height: 50px
    }
    .header-content p {
        font-size: 15px;
        line-height: 18px
    }
    .header-top__btn,
    .header-top__nav {
        display: none
    }
    #menu {
        width: 600px;
        height: 100vh
    }
    #menuToggle {
        display: block
    }
    .burger-btn {
        display: block;
        text-align: center;
        margin-top: 15px
    }
    .global-btn {
        display: block
    }
}

@media (max-width:480px) {
    .header-content {
        display: block;
        width: 400px;
        margin-top: 135px
    }
    .header-content span {
        font-size: 10px;
        line-height: 13px
    }
    .header-content h1 {
        margin-bottom: 25px;
        font-size: 40px;
        line-height: 50px
    }
    .header-content p {
        font-size: 15px;
        line-height: 18px
    }
    .header-top__btn,
    .header-top__nav {
        display: none
    }
    #menu {
        width: 480px;
        height: 100vh
    }
    #menuToggle {
        display: block
    }
    .burger-btn {
        display: block;
        text-align: center;
        margin-top: 15px
    }
    .global-btn {
        display: block
    }
}

@media (max-width:320px) {
    .header-content {
        display: block;
        width: 300px;
        margin-top: 135px
    }
    .header-content span {
        font-size: 10px;
        line-height: 13px
    }
    .header-content h1 {
        margin-bottom: 25px;
        font-size: 40px;
        line-height: 50px
    }
    .header-content p {
        font-size: 15px;
        line-height: 18px
    }
    .header-top__btn,
    .header-top__nav {
        display: none
    }
    #menu {
        width: 320px;
        height: 100vh
    }
    #menuToggle {
        display: block
    }
    .burger-btn {
        display: block;
        text-align: center;
        margin-top: 15px
    }
    .global-btn {
        display: block
    }
}

.slider {
    background-color: #1c1c1c
}

.slider-inners {
    margin: 115px 0 102px
}

.slider-mob {
    display: none
}

.slider-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.slider-list li+li {
    margin-left: 31px
}

.slider-list li {
    background: #312f30;
    width: 262px;
    border-radius: 15px
}

.slider-list__item {
    text-align: center;
    cursor: pointer
}

.slider-list__item img {
    width: 100%
}

.slider-item__text {
    width: 255px;
    margin: 0 auto;
    padding: 28px 0 35px
}

.slider-item__text h3 {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 13px
}

.slider-item__text p {
    opacity: .7;
    font-size: 16px;
    line-height: 19px
}

@media (max-width:768px) {
    .slider-inners {
        margin: 70px 0
    }
    .slider-list li {
        border-radius: 8px;
        margin-right: 0;
        width: 200px
    }
    .slider-list li+li {
        margin-left: 15px
    }
    .slider-list-list__item {
        margin-right: 0
    }
    .slider-item__text {
        width: 172px;
        padding: 20px 0 25px
    }
    .slider-item__text h3 {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 9px
    }
    .slider-item__text p {
        font-size: 10px;
        line-height: 15px
    }
}

@media (max-width:600px) {
    .slider-inners {
        margin: 50px 0
    }
    .slider-inner {
        display: none
    }
    .slider-mob {
        display: block
    }
    .swiper-slide {
        border-radius: 10px
    }
}

@media (max-width:480px) {
    .slider-inners {
        margin: 50px 0
    }
    .slider-inner {
        display: none
    }
    .slider-mob {
        display: block
    }
}

@media (max-width:320px) {
    .slider-inners {
        margin: 50px 0
    }
    .slider-inner {
        display: none
    }
    .slider-mob {
        display: block
    }
}

.banner {
    background-color: #312f30;
    width: 100%
}

.banner-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.banner-list li+li {
    margin-left: 158px
}

.banner-list__item img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 750ms;
    -o-transition-duration: 750ms;
    transition-duration: 750ms
}

.banner-list__item img:hover {
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 550ms;
    -o-transition-duration: 550ms;
    transition-duration: 550ms
}

.banner-list__item h3 {
    font-size: 44px;
    line-height: 52px;
    margin-bottom: 24px
}

.banner-list__item p {
    width: 360px;
    font-size: 16px;
    line-height: 19px;
    opacity: .7;
    margin-bottom: 13px
}

.banner-list__item strong {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: .1em;
    color: #f6762c
}

.banner-list__item strong span {
    font-size: 16px;
    text-decoration: line-through;
    opacity: .5;
    line-height: .1em
}

.banner-list__btn {
    margin-top: 11px
}

@media (max-width:768px) {
    .banner-inners {
        padding: 25px 0
    }
    .banner-list__item h3 {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 20px
    }
    .banner-list__item p {
        font-size: 14px;
        line-height: 18px
    }
}

@media (max-width:600px) {
    .banner-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        text-align: center
    }
    .banner-list li+li {
        margin-left: 0
    }
    .banner-list__item p {
        width: 550px
    }
    .banner-list__btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

@media (max-width:480px) {
    .banner-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        text-align: center
    }
    .banner-list li+li {
        margin-left: 0
    }
    .banner-list__item p {
        width: 300px
    }
    .banner-list__btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

@media (max-width:320px) {
    .banner-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        text-align: center
    }
    .banner-list li+li {
        margin-left: 0
    }
    .banner-list__item p {
        width: 300px
    }
    .banner-list__btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.card-inner {
    margin: 150px 0 146px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.card-right__list {
    margin-right: 30px
}

.card-item__first {
    background-image: url(img/promo-list-1.webp);
    width: 555px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px
}

.card-item__second {
    background-image: url(img/promo-list-2.webp);
    width: 555px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px
}

.card-item__third {
    background-image: url(img/promo-list-3.webp);
    width: 555px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.card-item__fourth {
    background-image: url(img/promo-list-4.webp);
    width: 555px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.card-item__text {
    padding: 63px 0 62px 290px
}

.card-item__text--left {
    padding: 63px 0 62px 50px;
    width: 250px
}

.card-item__text h3 {
    font-size: 30px;
    line-height: 35px
}

.card-item__text p {
    font-size: 16px;
    line-height: 19px;
    opacity: .7;
    padding: 20px 0 11px
}

.card-item__text span {
    margin-left: 10px
}

.card-item__text button {
    margin-top: 11px;
    width: 141px;
    height: 39px;
    font-size: 10px;
    line-height: 12px
}

@media (max-width:768px) {
    .card-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .card-right__list {
        margin: 0 auto
    }
    .card-item__third {
        margin-bottom: 30px
    }
    .card-left__list {
        margin: 0 auto
    }
}

@media (max-width:600px) {
    .card-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .card-right__list {
        margin: 0 auto
    }
    .card-item__third {
        margin-bottom: 30px
    }
    .card-left__list {
        margin: 0 auto
    }
}

@media (max-width:480px) {
    .card-inner {
        margin: 100px 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .card-right__list {
        margin: 0 auto
    }
    .card-item__first,
    .card-item__fourth,
    .card-item__second,
    .card-item__third {
        width: 400px;
        height: 555px;
        background-position: center center
    }
    .card-item__third {
        margin-bottom: 30px
    }
    .card-item__text {
        padding-left: 179px;
        padding-top: 135px
    }
    .card-item__text--left {
        padding-left: 20px
    }
    .card-left__list {
        margin: 0 auto
    }
}

@media (max-width:320px) {
    .card-inner {
        margin: 100px 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .card-right__list {
        margin-right: 0
    }
    .card-item__first,
    .card-item__fourth,
    .card-item__second,
    .card-item__third {
        width: 293px;
        height: 400px;
        background-position: center center
    }
    .card-item__third {
        margin-bottom: 30px
    }
    .card-item__text {
        padding-left: 10px;
        padding-top: 96px
    }
}

.recent-inner__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 194px
}

.recent-list__item--left {
    width: 368px;
    margin-left: 118px;
    text-align: center
}

.recent-list__item--left img {
    margin-bottom: 37px
}

.recent-list__item--left p {
    font-size: 16px;
    line-height: 19px;
    opacity: .7;
    margin-bottom: 27px
}

.recent-list__item--left h3 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 2px
}

.recent-list__item--left strong {
    font-size: 12px;
    line-height: 14px;
    opacity: .7
}

@media (max-width:768px) {
    .recent-inner__list {
        padding-bottom: 100px;
        width: 600px;
        margin: 0 auto
    }
    .recent-list__item--left {
        margin-left: 70px
    }
    .recent-list__item--left p {
        font-size: 14px;
        line-height: 16px
    }
}

@media (max-width:600px) {
    .recent-inner__list {
        padding-bottom: 100px;
        width: 500px;
        margin: 0 auto
    }
    .recent-list__item--left {
        margin-left: 70px
    }
    .recent-list__item--left p {
        font-size: 14px;
        line-height: 16px
    }
}

@media (max-width:480px) {
    .recent-inner__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 100px
    }
    .recent-list__item img {
        max-width: 100%;
        margin: 0 auto;
        display: block
    }
    .recent-list__item--left {
        margin: 50px 0 0;
        width: 300px
    }
}

@media (max-width:320px) {
    .recent-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    .recent-inner__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 100px
    }
    .recent-list__item img {
        max-width: 80%;
        margin: 0 auto;
        display: block
    }
    .recent-list__item--left {
        margin: 50px 0 0;
        width: 300px
    }
}

.download {
    background-color: #312f30
}

.download-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 61px 0 60px
}

.download-inner h3 {
    font-size: 40px;
    line-height: 47px
}

.download-inner button {
    margin-left: 422px
}

@media (max-width:768px) {
    .download-inner button {
        margin-left: 200px
    }
}

@media (max-width:600px) {
    .download-inner button {
        margin-left: 75px
    }
}

@media (max-width:480px) {
    .download-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center
    }
    .download-inner h3 {
        font-size: 30px;
        line-height: 40px
    }
    .download-inner button {
        margin: 30px 0 0
    }
}

@media (max-width:320px) {
    .download-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center
    }
    .download-inner h3 {
        font-size: 30px;
        line-height: 40px
    }
    .download-inner button {
        margin: 30px 0 0
    }
}

.footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 122px 0 142px
}

.footer-inner__mail {
    margin-bottom: 9px
}

.footer-inner__mail a {
    position: relative;
    padding-left: 20px;
    font-size: 12px;
    line-height: 14px;
    opacity: .8;
    color: #fff
}

.footer-inner__mail a:hover {
    color: #f6762c
}

.footer-inner__mail a::after {
    background-image: url(img/svg/mail.svg);
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    top: 7%;
    bottom: 0;
    left: 0
}

.footer-inner__link a {
    position: relative;
    padding-left: 20px;
    font-size: 12px;
    line-height: 14px;
    opacity: .8;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.footer-inner__link a:hover {
    color: #f6762c
}

.footer-inner__link a::after {
    background-image: url(img/svg/link.svg);
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    top: 7%;
    bottom: 0;
    left: 0
}

.footer-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.footer-nav__list li+li {
    margin-left: 158px
}

.footer-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.footer-nav__item h3 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 14px
}

.footer-nav__item a+a {
    margin-top: 15px
}

.footer-nav__item a {
    font-size: 12px;
    line-height: 14px;
    opacity: .8;
    color: #fff
}

.footer-nav__item a:hover {
    color: #f6762c
}

.footer-inner__social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px
}

.footer-inner__social li+li {
    margin-left: 10px
}

.footer-mob {
    display: none
}

.footer-mob__accord {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 1px solid #000;
    outline: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    opacity: .8
}

.footer-mob__panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    margin-top: 14px
}

.active,
.footer-mob__accord:hover {
    background-color: #ccc
}

@media (max-width:768px) {
    .footer-nav__list li+li {
        margin-left: 47px
    }
}

@media (max-width:600px) {
    .footer-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 70px 0
    }
    .footer-inner__logo {
        display: block;
        margin: 0 auto 30px;
        text-align: center
    }
    .footer-inner__social {
        display: block;
        margin: 30px auto 0
    }
    .footer-inner__social ul {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .footer-nav__list {
        display: none
    }
    .footer-mob {
        display: block
    }
    .footer-mob__panel {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media (max-width:480px) {
    .footer-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 70px 0
    }
    .footer-inner__logo {
        display: block;
        margin: 0 auto 30px;
        text-align: center
    }
    .footer-inner__social {
        display: block;
        margin: 30px auto 0
    }
    .footer-inner__social ul {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .footer-nav__list {
        display: none
    }
    .footer-mob {
        display: block
    }
    .footer-mob__panel {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media (max-width:320px) {
    .footer-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 70px 0
    }
    .footer-inner__logo {
        display: block;
        margin: 0 auto 30px;
        text-align: center
    }
    .footer-inner__social {
        display: block;
        margin: 30px auto 0
    }
    .footer-inner__social ul {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .footer-nav__list {
        display: none
    }
    .footer-mob {
        display: block
    }
    .footer-mob__panel {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}
