.card {
    &-inner {
        margin: 150px 0 146px;
        display: flex;
        justify-content: center;
    }
    &-right__list {
        margin-right: 30px;
    }
    &-item__first {
        background-image: url('/img/promo-list-1.webp');
        width: 555px;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
    }
    &-item__second {
        background-image: url('/img/promo-list-2.webp');
        width: 555px;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
    }
    &-item__third {
        background-image: url('/img/promo-list-3.webp');
        width: 555px;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-item__fourth {
        background-image: url('/img/promo-list-4.webp');
        width: 555px;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-item__text {
        padding: 63px 0 62px 290px;
        &--left {
            padding: 63px 0 62px 50px;
            width: 250px;
        }
        h3 {
            font-size: 30px;
            line-height: 35px;
            @extend %font-m;
        }
        p {
            font-size: 16px;
            line-height: 19px;
            opacity: 0.7;
            @extend %font-r;
            padding: 20px 0 11px;
        }
        span {
            margin-left: 10px;
        }
        button {
            margin-top: 11px;
            width: 141px;
            height: 39px;
            font-size: 10px;
            line-height: 12px;
        }
    }
}

// 768
@media (max-width: 768px) {
    .card {
        &-inner {
            flex-direction: column;
        }
        &-right__list {
            margin-right: 0;
            margin: 0 auto;
        }
        &-item__third {
            margin-bottom: 30px;
        }
        &-left__list {
            margin: 0 auto;
        }
    }
}

// 600
@media (max-width: 600px) {
    .card {
        &-inner {
            flex-direction: column;
        }
        &-right__list {
            margin-right: 0;
            margin: 0 auto;
        }
        &-item__third {
            margin-bottom: 30px;
        }
        &-left__list {
            margin: 0 auto;
        }
    }
}

// 480
@media (max-width: 480px) {
    .card {
        &-inner {
            margin: 100px 0 100px;
            flex-direction: column;
        }
        &-right__list {
            margin-right: 0;
            margin: 0 auto;
        }
        &-item__first,
        &-item__third,
        &-item__second,
        &-item__fourth {
            width: 400px;
            height: 555px;
            background-position: center center;
        }
        &-item__third {
            margin-bottom: 30px;
        }
        &-item__text {
            padding-left: 179px;
            padding-top: 135px;
        }
        &-item__text {
            &--left {
                padding-left: 20px;
            }
        }
    }
    .card-left__list {
        margin: 0 auto;
    }
}

// 320
@media (max-width: 320px) {
    .card {
        &-inner {
            margin: 100px 0 100px;
            flex-direction: column;
        }
        &-right__list {
            margin-right: 0;
        }
        &-item__first,
        &-item__third,
        &-item__second,
        &-item__fourth {
            width: 293px;
            height: 400px;
            background-position: center center;
        }
        &-item__third {
            margin-bottom: 30px;
        }
        &-item__text {
            padding-left: 10px;
            padding-top: 96px;
        }
    }
}