.download {
    background-color: $bg-2;
    &-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 61px 0 60px;
        h3 {
            font-size: 40px;
            line-height: 47px;
            @extend %font-m;
        }
        button {
            margin-left: 422px;
        }
    }
}

// 768
@media (max-width: 768px) {
    .download-inner button {
        margin-left: 200px;
    }
}

// 600
@media (max-width: 600px) {
    .download-inner button {
        margin-left: 75px;
    }
}

// 480
@media (max-width: 480px) {
    .download {
        &-inner {
            flex-direction: column;
            text-align: center;
            h3 {
                font-size: 30px;
                line-height: 40px;
            }
            button {
                margin: 0;
                margin-top: 30px;
            }
        }
    }
}

// 320
@media (max-width: 320px) {
    .download {
        &-inner {
            flex-direction: column;
            text-align: center;
            h3 {
                font-size: 30px;
                line-height: 40px;
            }
            button {
                margin: 0;
                margin-top: 30px;
            }
        }
    }
}