.footer {
    &-inner {
        display: flex;
        justify-content: space-between;
        padding: 122px 0 142px;
    }
    &-inner__mail {
        margin-bottom: 9px;
    }
    &-inner__mail a {
        position: relative;
        padding-left: 20px;
        font-size: 12px;
        line-height: 14px;
        opacity: 0.8;
        @extend %font-r;
        color: #fff;
        transition: all 0.5 ease;
    }
    &-inner__mail a:hover {
        color: $btn;
        transition: all 0.3 ease;
    }
    &-inner__mail a::after {
        background-image: url("/img/svg/mail.svg");
        content: "";
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        top: 7%;
        bottom: 0;
        left: 0;
    }
    &-inner__link a {
        position: relative;
        padding-left: 20px;
        font-size: 12px;
        line-height: 14px;
        opacity: 0.8;
        @extend %font-r;
        color: #fff;
        display: flex;
        transition: all 0.5 ease;
    }
    &-inner__link a:hover {
        color: $btn;
        transition: all 0.3 ease;
    }
    &-inner__link a::after {
        background-image: url("/img/svg/link.svg");
        content: "";
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        top: 7%;
        bottom: 0;
        left: 0;
    }
    &-nav {
        &__list {
            display: flex;
            li+li {
                margin-left: 158px;
            }
        }
        &__item {
            display: flex;
            flex-direction: column;
            h3 {
                font-size: 16px;
                line-height: 19px;
                @extend %font-m;
                margin-bottom: 14px;
            }
            a+a {
                margin-top: 15px;
            }
            a {
                font-size: 12px;
                line-height: 14px;
                @extend %font-r;
                opacity: 0.8;
                color: #fff;
                transition: all 0.8 ease-in-out;
            }
            a:hover {
                color: $btn;
                transition: all 0.4 ease-in-out;
            }
        }
    }
    &-inner__social {
        ul {
            display: flex;
            margin-top: 15px;
        }
        li+li {
            margin-left: 10px;
        }
    }
    &-mob {
        display: none;
        &__accord {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            transition: 0.4s;
            border-bottom: none;
            border: 1px solid #000;
            opacity: 0.8;
        }
        &__panel {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            margin-top: 14px;
        }
    }
}

.active,
.footer-mob__accord:hover {
    background-color: #ccc;
}

// 768
@media (max-width: 768px) {
    .footer {
        &-nav__list {
            li+li {
                margin-left: 47px;
            }
        }
    }
}

// 600
@media (max-width: 600px) {
    .footer {
        &-inner {
            flex-direction: column;
            padding: 70px 0 70px;
            &__logo {
                display: block;
                margin: 0 auto;
                margin-bottom: 30px;
                text-align: center;
            }
            &__social {
                display: block;
                margin: 0 auto;
                margin-top: 30px;
                ul {
                    justify-content: center;
                }
            }
        }
        &-nav__list {
            display: none;
        }
        &-mob {
            display: block;
        }
        &-mob__panel {
            flex-direction: column;
        }
    }
}

// 480
@media (max-width: 480px) {
    .footer {
        &-inner {
            flex-direction: column;
            padding: 70px 0 70px;
            &__logo {
                display: block;
                margin: 0 auto;
                margin-bottom: 30px;
                text-align: center;
            }
            &__social {
                display: block;
                margin: 0 auto;
                margin-top: 30px;
                ul {
                    justify-content: center;
                }
            }
        }
        &-nav__list {
            display: none;
        }
        &-mob {
            display: block;
        }
        &-mob__panel {
            flex-direction: column;
        }
    }
}

// 320
@media (max-width: 320px) {
    .footer {
        &-inner {
            flex-direction: column;
            padding: 70px 0 70px;
            &__logo {
                display: block;
                margin: 0 auto;
                margin-bottom: 30px;
                text-align: center;
            }
            &__social {
                display: block;
                margin: 0 auto;
                margin-top: 30px;
                ul {
                    justify-content: center;
                }
            }
        }
        &-nav__list {
            display: none;
        }
        &-mob {
            display: block;
        }
        &-mob__panel {
            flex-direction: column;
        }
    }
}