.recent {
    &-inner__list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 194px;
    }
    &-list__item {
        &--left {
            width: 368px;
            margin-left: 118px;
            text-align: center;
            img {
                margin-bottom: 37px;
            }
            p {
                font-size: 16px;
                line-height: 19px;
                @extend %font-r;
                opacity: 0.7;
                margin-bottom: 27px;
            }
            h3 {
                font-size: 24px;
                line-height: 28px;
                @extend %font-m;
                margin-bottom: 2px;
            }
            strong {
                font-size: 12px;
                line-height: 14px;
                @extend %font-m;
                opacity: 0.7;
            }
        }
    }
}

// 768
@media (max-width: 768px) {
    .recent {
        &-inner__list {
            padding-bottom: 100px;
            width: 600px;
            margin: 0 auto;
        }
        &-list__item {
            &--left {
                margin-left: 70px;
                p {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
    }
}

// 600
@media (max-width: 600px) {
    .recent {
        &-inner__list {
            padding-bottom: 100px;
            width: 500px;
            margin: 0 auto;
        }
        &-list__item {
            &--left {
                margin-left: 70px;
                p {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
    }
}

// 480
@media (max-width: 480px) {
    .recent {
        &-inner__list {
            flex-direction: column;
            justify-content: center;
            margin-bottom: 100px;
        }
        &-list__item {
            img {
                max-width: 100%;
                margin: 0 auto;
                display: block;
            }
            &--left {
                margin: 0;
                margin-top: 50px;
                width: 300px;
            }
        }
    }
}

// 320
@media (max-width: 320px) {
    .recent {
        &-inner {
            display: flex;
        }
        &-inner__list {
            flex-direction: column;
            justify-content: center;
            margin-bottom: 100px;
        }
        &-list__item {
            img {
                max-width: 80%;
                margin: 0 auto;
                display: block;
            }
            &--left {
                margin: 0;
                margin-top: 50px;
                width: 300px;
            }
        }
    }
}