.slider {
    background-color: $global;
    &-inners {
        margin: 115px 0 102px;
    }
    &-mob {
        display: none;
    }
    &-list {
        display: flex;
        justify-content: center;
        li+li {
            margin-left: 31px;
        }
        li {
            background: #312F30;
            width: 262px;
            border-radius: 15px;
        }
    }
    &-list__item {
        text-align: center;
        img {
            width: 100%;
        }
    }
    &-item__text {
        width: 255px;
        margin: 0 auto;
        padding: 28px 0 35px;
        h3 {
            @extend %font-m;
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 13px;
        }
        p {
            opacity: .7;
            font-size: 16px;
            line-height: 19px;
            @extend %font-r;
        }
    }
}

@media (max-width: 1280px) {}

// 1024
@media (max-width: 1024px) {}

// 768
@media (max-width: 768px) {
    .slider {
        &-inners {
            margin: 70px 0 70px;
        }
        &-list {
            li {
                border-radius: 8px;
                margin-right: 0;
                width: 200px;
            }
            li+li {
                margin-left: 15px;
            }
            &-list__item {
                margin-right: 0;
            }
        }
        &-item__text {
            width: 172px;
            padding: 20px 0 25px;
            h3 {
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 9px;
            }
            p {
                font-size: 10px;
                line-height: 15px;
            }
        }
    }
}

// 600
@media (max-width: 600px) {
    .slider {
        &-inners {
            margin: 50px 0 50px;
        }
        &-inner {
            display: none;
        }
        &-mob {
            display: block;
        }
    }
}

// 480
@media (max-width: 480px) {
    .slider {
        &-inners {
            margin: 50px 0 50px;
        }
        &-inner {
            display: none;
        }
        &-mob {
            display: block;
        }
    }
}

// 320
@media (max-width: 320px) {
    .slider {
        &-inners {
            margin: 50px 0 50px;
        }
        &-inner {
            display: none;
        }
        &-mob {
            display: block;
        }
    }
}