<div class="banner">
    <div class="container">
        <div class="banner-inners">
            <ul class="banner-list">
                <li class="banner-list__item">
                    <img src="../img/promo.png" alt="promo">
                </li>
                <li class=" banner-list__item ">
                    <h3>Burger King</h3>
                    <p>Together with McDonald’s, Burger King has grown to become synonymous with burgers in the US.</p>
                    <strong>$6 <span>
              $8</span></strong>
                    <div class="banner-list__btn ">
                        <button class="global-btn">ORDER NOW</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>