<div class="card">
    <div class="container">
        <div class="card-inner">
            <ul class="card-right__list">
                <li class="card-item__first">
                    <div class="card-item__text">
                        <h3>Dairy Queen</h3>
                        <p>Dairy Queen is one of the biggest fast-food.</p>
                        <strong class="global-strong">$4<span class="global-span">$6</span></strong>
                        <div>
                            <button class="global-btn">ORDER NOW</button>
                        </div>
                    </div>
                </li>
                <li class="card-item__third">
                    <div class="card-item__text">
                        <h3>Burger King</h3>
                        <p>Together with McDonald’s, Burger King.</p>
                        <strong class="global-strong">$5<span class="global-span">$6</span></strong>
                        <div>
                            <button class="global-btn">ORDER NOW</button>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="card-left__list">
                <li class="card-item__second">
                    <div class="card-item__text card-item__text--left">
                        <h3>Pizza Hut</h3>
                        <p>Although the Pizza Hut Menu Prices .</p>
                        <strong class="global-strong">$3<span class="global-span">$7</span></strong>
                        <div>
                            <button class="global-btn">ORDER NOW</button>
                        </div>
                    </div>
                </li>
                <li class="card-item__fourth">
                    <div class="card-item__text card-item__text--left">
                        <h3>Papa John’s</h3>
                        <p>Papa John’s is one of the most popular fast-food.</p>
                        <strong class="global-strong">$6<span class="global-span">$8</span></strong>
                        <div>
                            <button class="global-btn">ORDER NOW</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>