<div class="recent">
    <div class="conrainer">
        <div class="recent-inner">
            <ul class="recent-inner__list">
                <li class="recent-list__item">
                    <img src="../img/recent-img.webp" alt="recent-img">
                </li>
                <li class="recent-list__item--left ">
                    <img class="recent-list__img" src="../img/recent-icon.webp " alt="recent-icon ">
                    <p>Thanks a lot for the prompt service. Really appreciate. Excellence taste in Every Bite.Add a joy of best Taste. Foodie Moments.</p>
                    <h3>Adele A. McNeill</h3>
                    <strong>AMIRICAN</strong>
                </li>
            </ul>
        </div>
    </div>
</div>