<div class="slider">
    <div class="container">
        <div class="slider-inners ">
            <div class="slider-inner ">
                <ul class="slider-list swiper-wrapper">
                    <li class="slider-list__item swiper-slide">
                        <img src="../img/slider-1.png" alt="slider-1">
                        <div class="slider-item__text">
                            <h3>Chicken Paella </h3>
                            <p>We just don't make and sell food.Good food warms.</p>
                        </div>
                    </li>
                    <li class="slider-list__item swiper-slide">
                        <img src="../img/slider-2.png" alt="slider-2">
                        <div class="slider-item__text">
                            <h3>Taco Del Mar </h3>
                            <p>Taco Del Mar brings the best out of Mexican cuisine with fresh.</p>
                        </div>
                    </li>
                    <li class="slider-list__item swiper-slide">
                        <img src="../img/slider-3.png" alt="slider-3">
                        <div class="slider-item__text">
                            <h3>Bon Au Pain</h3>
                            <p>Bon Au Pain is a pioneer in the healthy fast food scene.</p>
                        </div>
                    </li>
                    <li class="slider-list__item swiper-slide">
                        <img src="../img/slider-4.png" alt="slider-4">
                        <div class="slider-item__text">
                            <h3>Pizza Hut </h3>
                            <p>Although the Pizza Hut Menu Prices have tumbled over the years.</p>
                        </div>
                    </li>
                    <li class="slider-list__item swiper-slide">
                        <img src="../img/slider-4.png" alt="slider-4">
                        <div class="slider-item__text">
                            <h3>Pizza Hut </h3>
                            <p>Although the Pizza Hut Menu Prices have tumbled over the years.</p>
                        </div>
                    </li>
                    <li class="slider-list__item swiper-slide">
                        <img src="../img/slider-3.png" alt="slider-3">
                        <div class="slider-item__text">
                            <h3>Bon Au Pain</h3>
                            <p>Bon Au Pain is a pioneer in the healthy fast food scene.</p>
                        </div>
                    </li>
                    <li class="slider-list__item swiper-slide">
                        <img src="../img/slider-3.png" alt="slider-3">
                        <div class="slider-item__text">
                            <h3>Bon Au Pain</h3>
                            <p>Bon Au Pain is a pioneer in the healthy fast food scene.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- slider mob -->
            <div class="slider-mob ">
                <ul class="slider-list  swiper-wrapper">
                    <li class="slider-list__item swiper-slide">
                        <img src="../img/slider-1.png" alt="slider-1">
                        <div class="slider-item__text">
                            <h3>Chicken Paella </h3>
                            <p>We just don't make and sell food.Good food warms.</p>
                        </div>
                    </li>
                    <li class="slider-list__item swiper-slide">
                        <img src="../img/slider-2.png" alt="slider-2">
                        <div class="slider-item__text">
                            <h3>Taco Del Mar </h3>
                            <p>Taco Del Mar brings the best out of Mexican cuisine with fresh.</p>
                        </div>
                    </li>
                    <li class="slider-list__item swiper-slide">
                        <img src="../img/slider-3.png" alt="slider-3">
                        <div class="slider-item__text">
                            <h3>Bon Au Pain</h3>
                            <p>Bon Au Pain is a pioneer in the healthy fast food scene.</p>
                        </div>
                    </li>
                    <li class="slider-list__item swiper-slide">
                        <img src="../img/slider-4.png" alt="slider-4">
                        <div class="slider-item__text">
                            <h3>Pizza Hut </h3>
                            <p>Although the Pizza Hut Menu Prices have tumbled over the years.</p>
                        </div>
                    </li>
                    <li class="slider-list__item swiper-slide">
                        <img src="../img/slider-4.png" alt="slider-4">
                        <div class="slider-item__text">
                            <h3>Pizza Hut </h3>
                            <p>Although the Pizza Hut Menu Prices have tumbled over the years.</p>
                        </div>
                    </li>
                    <li class="slider-list__item swiper-slide">
                        <img src="../img/slider-3.png" alt="slider-3">
                        <div class="slider-item__text">
                            <h3>Bon Au Pain</h3>
                            <p>Bon Au Pain is a pioneer in the healthy fast food scene.</p>
                        </div>
                    </li>
                    <li class="slider-list__item swiper-slide">
                        <img src="../img/slider-3.png" alt="slider-3">
                        <div class="slider-item__text">
                            <h3>Bon Au Pain</h3>
                            <p>Bon Au Pain is a pioneer in the healthy fast food scene.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- end slider mob -->
        </div>
    </div>
</div>